{% extends "layout.html" %}

{% block content %}
<div class="content-section mt-2">
    <h2>Prometheus Metrics Dashboard</h2>

    <h3>Page Hits Counter:</h3>
    <p>Number of times each page was hit:</p>
    <ul>
        <li>Home: {{ prometheus_metrics['kandula_page_hits_total'].labels(page="Home") }}</li>
        <li>Instances: {{ prometheus_metrics['kandula_page_hits_total'].labels(page="Instances") }}</li>
        <li>Scheduling: {{ prometheus_metrics['kandula_page_hits_total'].labels(page="Scheduling") }}</li>
        <li>Metrics: {{ prometheus_metrics['kandula_page_hits_total'].labels(page="Metrics") }}</li>
        <li>Health: {{ prometheus_metrics['kandula_page_hits_total'].labels(page="Health") }}</li>
        <li>About: {{ prometheus_metrics['kandula_page_hits_total'].labels(page="About") }}</li>
    </ul>

    <h3>In-Progress Requests Gauge:</h3>
    <p>Number of in-progress requests: {{ prometheus_metrics['kandula_inprogress_requests'] }}</p>
</div>
{% endblock content %}
